<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components</title>
  <link rel="stylesheet" href="./styles.css">
</head>

<body>

  <h1>Student Components</h1>
  <h2>Mahlatse Card Component</h2>

  <!-- card component added by Mahlatse -->
  <div class="card">
    <img src="https://picsum.photos/300/180" alt="Card image" class="card-img">
    <div class="card-content">
      <h3>Simple UI Card</h3>
      <p>This is my component</p>
      <button>Learn More</button>
    </div>
  </div>

</body>
</html>

<- GitHub for tracking test change -->
