<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components</title>
  <link rel="stylesheet" href="./styles.css">
</head>

<body>

  <h1>Student Components</h1>
  <h2>Mahlatse Card Component</h2>

  <!-- YOUR COMPONENT -->
  <div class="card">
    <img src="https://via.placeholder.com/300x180" class="card-img">

    <div class="card-content">
      <h3>Simple UI Card</h3>
      <p>This is my component</p>
      <button>Learn More</button>
    </div>
  </div>

</body>
</html>

